#anchorTitle {
	/* border radius */
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	/* box shadow */
	-moz-box-shadow: 2px 2px 3px #e6e6e6;
	-webkit-box-shadow: 2px 2px 3px #e6e6e6;
	box-shadow: 2px 2px 3px #e6e6e6;
	/* other settings */
	background-color: #fff;
	border: solid 3px #d6d6d6;
	color: #333;
	display: none;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	line-height: 1.3;
	width: 215px;
	height: 300px;
	padding: 5px 7px;
	position: absolute;
}

#anchorTitle img {
	max-width: 215px;
	max-height: 300px;
}

.nrdb-embed-small {
	max-width: 215px;
	max-height: 300px;
}

.nrdb-embed-box {
	/* border radius */
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	/* box shadow */
	-moz-box-shadow: 2px 2px 3px #e6e6e6;
	-webkit-box-shadow: 2px 2px 3px #e6e6e6;
	box-shadow: 2px 2px 3px #e6e6e6;
	/* other settings */
	background-color: #fff;
	border: solid 3px #d6d6d6;
	color: #333;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	line-height: 1.3;
	padding: 5px 7px;
}

.nrdb-decklist-cards li {
	list-style: none;
}

div ul.nrdb-decklist-card-type {
	margin: 0px;
}

.nrdb-decklist.nrdb-embed-box {
	padding: 10px;
}

.nrdb-decklist ul.nrdb-decklist-card-type {
	padding: 0px 10px;
}

.nrdb-decklist h4 {
	margin: 10px 0px 0px 0px;
}

.nrdb-decklist .nrdb-decklist-name h2.nrdb-decklist-title {
	margin: 5px 0px;
	font-size: 18px;
}

.nrdb-decklist .nrdb-decklist-name h4.nrdb-decklist-meta {
	margin: 5px;
	font-size: 11px;
}

.nrdb-decklist h4.nrdb-decklist-category {
	margin: 5px;
	font-size: 11px;
}

.nrdb-decklist .nrdb-decklist-identity img {
	padding: 10px;
}

.nrdb-decklist .nrdb-decklist-counts p.nrdb-decklist-count {
	margin: 0px 5px;
}

.nrdb-decklist div.nrdb-decklist-cards {
	margin-left: 5px;
}

.nrdb-decklist span.nrdb-influence {
	font-size: 1.3em;
}

.nrdb-decklist-description {
	margin: 15px 5px 5px 5px;
}
